// define variableand value;
$body-font: "Roboto",sans-serif;

$body-bg:#000000;

$black:#000;

$white-tx:#fff;

$black-tx:#181818;

//a
$anchor-color:#ed1f24;

$anchor-color-h:#ff0006;

$dust:#ddd;

$grey:#8c8c8c;

$light-grey:#f6f7fc;

$theme-color: #29b6e6;

$pastel-color:#b8f8c2;

$light-blue:#e9fdff;

$night-blue:#0d2243;


$inbox:#525252;
$inbox-h:#282c35;

$matt:#2d353c;


